<% allsp.forEach(function(allsp) { %>
    <div class="item">
        <div class="products-single fix">
            <div class="box-img-hover">
                <img style="height: 150px;" src="images/upload/<%= getRelativeImagePath(allsp.Image) %>"
                    class="img-fluid" alt="Image">
                <div class="mask-icon">
                    <ul>
                        <li><a href="/ChiTietSP?id=<%= allsp._id %>" data-toggle="tooltip" data-placement="right"
                                title="View"><i class="fas fa-eye"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i
                                    class="fas fa-sync-alt"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i
                                    class="far fa-heart"></i></a></li>
                    </ul>
                    <a class="cart" href="#">Add to Cart</a>
                </div>
            </div>
            <div class="why-text">
                <a href="/ChiTietSP?id=<%= allsp._id %>">
                    <h4>
                        <%= allsp.TenSP %>
                    </h4>
                </a>
                <h5> <del style="font-size: 13px;
                    color: #666;">
                        <%= formatCurrency(allsp.GiaCu) %>
                    </del>
                    <%= formatCurrency(allsp.GiaBan) %>
                </h5>
            </div>
        </div>
    </div>
    <% }); %>